### Easy

In [ ]:
1.'Data Science Skills'
#Given a table of candidates and their skills, you're tasked with finding the candidates best suited for an open Data Science job. 
#You want to find candidates who are proficient in Python, Tableau, and PostgreSQL.
#Write a SQL query to list the candidates who possess all of the required skills for the job. Sort the the output by candidate ID in ascending order.
#Assumption:
#There are no duplicates in the candidates table"

SELECT candidate_id
FROM candidates
  WHERE skill IN ('Python', 'Tableau','PostgreSQL')
GROUP BY candidate_id
    HAVING COUNT(skill) = 3

In [ ]:
2.'Unfinished Parts'
#Tesla is investigating bottlenecks in their production, and they need your help to extract the relevant data. 
#Write a SQL query that determines which parts have begun the assembly process but are not yet finished.

SELECT DISTINCT(part)  
FROM parts_assembly 
WHERE finish_date IS NULL

In [ ]:
3.'Laptop vs Mobile Viewership'
#This is the same question as problem #3 in the SQL Chapter of Ace the Data Science Interview!
#Assume that you are given the table below containing information on viewership by device type (where the three types are laptop, tablet, and phone). 
#Define “mobile” as the sum of tablet and phone viewership numbers. 
#Write a query to compare the viewership on laptops versus mobile devices.
#Output the total viewership for laptop and mobile devices in the format of "laptop_views" and "mobile_views".

SELECT (SELECT count(user_id) FROM viewership WHERE device_type = 'laptop') as laptop_views,
(SELECT count(user_id) FROM viewership WHERE device_type != 'laptop') as mobile_views

In [ ]:
4.'Page With No Likes'
#Assume you are given the tables below about Facebook pages and page likes. 
#Write a query to return the page IDs of all the Facebook pages that don't have any likes. 
#The output should be in ascending order.

SELECT p.page_id
FROM pages as p   
  LEFT JOIN page_likes as pl ON p.page_id=pl.page_id
  WHERE pl.liked_date is NULL
  ORDER BY p.page_id ASC;

In [ ]:
5. 'Cities With Completed Trades'
#You are given the tables below containing information on Robinhood trades and users. 
#Write a query to list the top three cities that have the most completed trade orders in descending order.
#Output the city and number of orders.

SELECT u.city, COUNT(t.order_id) AS conteo
FROM users AS u    
  JOIN trades as t ON u.user_id=t.user_id
WHERE t.status = 'Completed'
GROUP BY u.city
  ORDER BY conteo DESC
    LIMIT 3;

In [ ]:
6.'App Clickthrough Rate (CTR)'

#Assume you have an events table on app analytics. 
#Write a query to get the click-through rate percentage (CTR %) per app in 2022. Output the results in percentage rounded to 2 decimal places.
#Note that to avoid integer division, you should multiple your percentage results by 100.0 and not 100

SELECT app_id, 

ROUND(100.0*SUM(CASE WHEN event_type = 'click' THEN 1 ELSE 0 END)
  /
SUM(CASE WHEN event_type = 'impression' THEN 1 ELSE 0 END),2)

FROM events
WHERE EXTRACT(YEAR FROM timestamp)=2022
    GROUP BY app_id;

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=917e5fa0-6c7e-4265-adf7-383484fe76f8' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>