## Easy

In [ ]:

1. #Show first name, last name and gender of patients who's gender is 'M'

SELECT first_name, last_name, gender
FROM patients
    WHERE gender = "M";

2. #Show first name and last name of patients who does not have allergies (null).

SELECT first_name, last_name
FROM patients
    WHERE allergies IS NULL;

3. #Show first name of patients that start with the letter 'C'

SELECT first_name
FROM patients
    WHERE first_name LIKE "C%";

4. #Show first name and last name of patients that weight within the range of 100 to 120 (inclusive)

SELECT first_name, last_name
FROM patients
WHERE weight BETWEEN 100 AND 120;

5. #Update the patients table for the allergies column. If the patient's allergies is null then replace it with 'NKA'

UPDATE patients
SET allergies = "NKA"
WHERE allergies IS NULL;

6. #Show first name and last name concatinated into one column to show their full name.

SELECT CONCAt(first_name," ", last_name)
from patients;

7. #Show first name, last name, and the full province name of each patient, example: 'Ontario' instead of 'ON'

SELECT first_name, last_name, p.province_name
FROM patients
     JOIN provinces p ON patients.province_id = p.province_id;

8. #Show how many patients have a birth_date with 2010 as the birth year.

SELECT COUNT(patient_id)
FROM patients
WHERE year(birth_date) = 2010;

9. #Show the first_name, last_name, and height of the patient with the greatest height.

SELECT first_name, last_name, MAX(height)
FROM patients
    ORDER BY height
    LIMIT 1;

10. #Show all columns for patients who have one of the following patient_ids 1,45,534,879,1000

SELECT * 
FROM patients
    WHERE patient_id IN (1,45,534,879,1000);

11. #Show the total number of admissions

SELECT COUNT(admission_date) as total
FROM admissions;

12. #Show all the columns from admissions where the patient was admitted and discharged on the same day.

SELECT *
FROM admissions 
    WHERE admission_date = discharge_date;

13. #Show the total number of admissions for patient_id 573.

SELECT patient_id, COUNT(admission_date)
FROM admissions 
    WHERE patient_id = 573;

14. #Based on the cities that our patients live in, show unique cities that are in province_id 'NS'?

SELECT distinct(city)
FROm patients
    WHERE province_id = "NS";

15. #Write a query to find the first_name, last name and birth date of patients who have height more than 160 and weight more than 70

SELECT first_name,last_name,birth_date 
FROM patients
    WHERE height > 160 AND weight > 70;

16. #Write a query to find list of patients first_name, last_name, and allergies from Hamilton where allergies are not nka or null

SELECT first_name, last_name, allergies
FROM patients
    WHERE city = 'Hamilton' 
    AND allergies  NOT NULL 
    AND allergies NOT like 'NKA'

## Medium

In [ ]:
1. #Show unique birth years from patients and order them by ascending.

SELECT 
  DISTINCT(YEAR(birth_date)) AS anio 
FROM 
  patients 
ORDER BY 
  anio ASC;

2.  #Show unique first names from the patients table which only occurs once in the list, 
    #For example, if two or more people are named 'John' in the first_name column then don't include their name in the output list. 
    #If only 1 person is named 'Leo' then include them in the output.

SELECT 
  DISTINCT(first_name) as Nombre 
FROM patients 
GROUP BY Nombre 
having COUNT(first_name) = 1;

3. #Show patient_id and first_name from patients where their first_name start and ends with 's' and is at least 6 characters long.

SELECT patient_id, first_name
FROM patients
WHERE first_name LIKE "s____%s";


4. #Show patient_id, first_name, last_name from patients whos primary_diagnosis is 'Dementia',
   #Primary diagnosis is stored in the admissions table.

SELECT p.patient_id, p.first_name, p.last_name 
FROM patients AS p
     JOIN admissions AS ad ON p.patient_id = ad.patient_id
     WHERE ad.primary_diagnosis = "Dementia";

5. #Display every patient's first_name. order the list by the length of each name and then by alphbetically.

SELECT first_name
FROM patients
    ORDER BY LEN(first_name) ASC, first_name ASC;

6. #Show the total amount of male patients and the total amount of female patients in the patients table,
   #Display the two results in the same row.

SELECT COUNT(*) as conteo, 
       (SELECT COUNT(*) FROM patients WHERE gender = "F") as female 
FROM patients 
        WHERE gender = "M";

7. #Show first and last name, allergies from patients which have allergies to either 'Penicillin' or 'Morphine'. 
   #Show results ordered ascending by allergies then by first_name then by last_name.

SELECT first_name, last_name, allergies 
FROM patients
    WHERE allergies IN ("Penicillin","Morphine")
        ORDER BY allergies, first_name,last_name;

8. #Show patient_id, primary_diagnosis from admissions. Find patients admitted multiple times for the same primary_diagnosis.

SELECT
  patient_id,
  primary_diagnosis
FROM admissions
    GROUP BY patient_id, primary_diagnosis
        HAVING COUNT(*) > 1;

9. #Show the city and the total number of patients in the city in the order from most to least patients.

SELECT
  city,
  COUNT(patient_id) as pacientes
FROM patients
    GROUP BY city
        ORDER BY pacientes DESC;

10. #Show first name, last name and role of every person that is either patient or physician.
    #The roles are either "Patient" or "Physician"

SELECT first_name, last_name, "Patient" AS "Role" from Patients
UNION
SELECT first_name, last_name, "Physician" AS "Role" from physicians
    ORDER BY first_name;

11. #Show all allergies ordered by popularity. Remove 'NKA' and NULL values from query.

SELECT allergies, 
count(allergies) as popularity
FROM patients
    WHERE allergies NOT NULL AND allergies NOT IN ('NKA')
        GROUP by allergies
            ORDER BY popularity DESC

12. #Show all patient's first_name, last_name, and birth_date who were born in the 1970s decade. 
    #Sort the list starting from the earliest birth_date.

SELECT first_name, last_name, birth_date
FROM patients
    WHERE year(birth_date) between 1970 AND 1979
        ORDER BY birth_date;

13. #We want to display each patient's full name in a single column. 
    #Their last_name in all upper letters must appear first, then first_name in all lower case letters. 
    #Separate the last_name and first_name with a comma. Order the list by the first_name in decending order
    #EX: SMITH,jane

select CONCAT(UPPER(last_name),
",",
LOWER(first_name))
FROM patients
    ORDER BY first_name DESC

14. #Show the province_id(s), sum of height; where the total sum of its patient's height is greater than or equal to 7,000.

SELECT province_id, CEIl(sum(height)) as altura
FROM patients
    GROUP BY province_id
        HAVING altura >= 7000

15. #Show the difference between the largest weight and smallest weight for patients with the last name 'Maroni'

SELECT MAX(weight)- MIn(weight) as range
FROM patients
    WHERE last_name = "Maroni"

16. #Show all of the days of the month (1-31) and how many admission_dates occurred on that day. 
    #Sort by the day with most admissions to least admissions.

SELECT day(admission_date) as dia, count(admission_date) as cuantas
FROM admissions
    GROUP BY dia
        ORDER BY cuantas desc;

17. #Show the patient_id, nursing_unit_id, room, and bed for patient_id 542's most recent admission_date.

SELECT patient_id, nursing_unit_id,room, bed
FROM admissions
    WHERE patient_id = "542"
        ORDER by admission_date desc
            LIMIT 1;

18. #Show the nursing_unit_id and count of admissions for each nursing_unit_id. 
    #Exclude the following nursing_unit_ids: 'CCU', 'OR', 'ICU', 'ER'.

SELECT nursing_unit_id, count(admission_date) as conteo
FROM admissions
    WHERE not nursing_unit_id in ("CCU","OR","ICU","ER")
        GROUP BY nursing_unit_id;

19. 
    #Show patient_id, attending_physician_id, and primary_diagnosis for admissions that match one of the two criteria:
    #1. patient_id is an odd number and attending_physician_id is either 1, 5, or 19.
    #2. attending_physician_id contains a 2 and the length of patient_id is 3 characters.

SELECT patient_id, attending_physician_id, primary_diagnosis
FROM admissions
    WHERE (patient_id % 2 != 0 
    AND attending_physician_id IN (1,5,19))
    OR 
    attending_physician_id like '%2%' 
    AND len(patient_id) = 3;

20. #Show first_name, last_name, and the total number of admissions attended for each physician.
    #Every admission has been attended by a physician.

SELECT first_name,
last_name,
COUNT(a.primary_diagnosis) AS total_admissions
from physicians as p
  JOIN admissions as a ON p.physician_id = a.attending_physician_id
  GROUP BY first_name, last_name

21. #For each physicain, display their id, full name, and the first and last admission date they attended.

SELECT physician_id, 
concat(first_name," ",last_name),
MIN(admission_date),
max(admission_date)
FROM physicians AS p
	join admissions as a on p.physician_id = a.attending_physician_id
	GROUP BY p.physician_id;

22. #Display the total amount of patients for each province. Order by descending.

SELECT pr.province_name,
	   COUNT(p.patient_id) as total_patients
FROM patients AS p
	JOIN provinces AS pr ON p.province_id = pr.province_id
        GROUP BY pr.province_name
            ORDER BY total_patients DESC

## Hard

In [2]:
1. #Show the patient_id and total_spent for patients who spent over 150 in medication_cost. Sort by most total_spent to least total_spent.

SELECT
  patient_id,SUM(medication_cost) as suma
FROM medications m 
    JOIN unit_dose_orders un ON m.medication_id=un.medication_id
    GROUP BY patient_id
        HAVING suma > 150
            ORDER BY suma DESC

2. #Show patient_id, weight, height, isObese from the patients table.
   #Display isObese as a boolean 0 or 1.
   #Obese is defined as weight(kg)/(height(m)2) >= 30.
   #weight is in units kg.
   #height is in units cm.

SELECT patient_id, weight, height, 
  (CASE 
      WHEN weight/(POWER(height/100.0,2)) >= 30 THEN
          1
      ELSE
          0
      END) AS isObese
FROM patients;

3. #Show patient_id, first_name, last_name, and attending physician's specialty.
   #Show only the patients who has a primary_diagnosis as 'Dementia' and the physician's first name is 'Lisa'
   #Check patients, admissions, and physicians tables for required information.

SELECT p.patient_id, p.first_name, p.last_name, ph.specialty
FROM patients p
	JOIN admissions ad ON ad.patient_id = p.patient_id
    JOIN physicians ph ON ph.physician_id = ad.attending_physician_id 
        WHERE ad.primary_diagnosis = 'Dementia' and ph.first_name = 'Lisa';

4.#All patients who have gone through admissions, can see their medical documents on our site. 
  #Those patients are given a temporary password after their first admission. Show the patient_id and temp_password.
  #The password must be the following, in order:
  #1. patient_id
  #2. the numerical length of patient's last_name
  #3. year of patient's birth_date

SELECT
  p.patient_id,
  (
    SELECT
    concat(p.patient_id,len(p.last_name),year(p.birth_date)) FROm patients 
  ) as temp_Password
    FROM patients p
    JOIN admissions ad ON ad.patient_id = p.patient_id
    group by ad.patient_id
    having count(ad.admission_date) >= 1;

5. #Each admission costs $50 for patients without insurance, and $10 for patients with insurance. 
   #All patients with an even patient_id have insurance.
   #Give each patient a 'Yes' if they have insurance, and a 'No' if they don't have insurance. 
   #Add up the admission_total cost for each has_insurance group.

SELECT 
CASE
	WHEN patient_id % 2 != 0 THEn 'No' ELSE 'Yes'
END has_insurance,
Case 
	WHEN patient_id % 2 !=0 THEN COUNT(admission_date)*50 ELSE COUNT(admission_date)*10
END cost_after_insurance
FROM admissions
    GROUP BY has_insurance

6. #Show the provinces that has more patients identified as 'M' than 'F'. Must only show full province_name

SELECT pr.province_name
FROM provinces pr
  JOIN patients p ON pr.province_id = p.province_id
    GROUP BY pr.province_id
        HAVING COUNT(CASE WHEN gender='M' THEN 1 END) > COUNT((CASE WHEN gender = 'F' THEN 1 END))

7. #We are looking for a specific patient. Pull all columns for the patient who matches the following criteria:
   #- First_name contains an 'r' after the first two letters.
   #- Identifies their gender as 'F'
   #- Born in February, May, or December
   #- Their weight would be between 60kg and 80kg
   #- Their patient_id is an odd number
   #- They are from the city 'Halifax'

SELECT *
FROm patients
    WHERE first_name LIKE '__r%' 
    AND gender = 'F'
    AND month(birth_date) IN (2,5,12)
    AND weight between 60 and 80
    AND patient_id % 2 != 0 
    AND city = 'Halifax'

8. #Show the percent of patients that have 'M' as their gender. Round the answer to the nearest hundreth number and in percent form.

SELECT CONCAT(ROUND((SELECT COUNT(patient_id) 
FROM patients 
    WHERE gender = 'M') * 100.00 / (SELECT COUNT(patient_id) FROM patients),2),'%')

9. #Show the patient_id and total_spent for patients who spent over 150 in medication_cost. Sort by most total_spent to least total_spent.

SELECT
  patient_id,SUM(medication_cost) as suma
FROm medications m 
    JOIN unit_dose_orders un ON m.medication_id=un.medication_id
        GROUP BY patient_id
            HAVING suma > 150
                order by suma DESC

10. #Provide the description of each item, along with the total cost of the quantity on hand 
    #(rounded to the nearest whole dollar), and the associated primary vendor.


SELECT i.item_description, ROUND(i.quantity_on_hand*i.item_cost) as total, v.vendor_name
FROM items i 
	JOIN vendors v ON i.primary_vendor_id = v.vendor_id
        GROUP BY i.item_description
            ORDER BY total DESC

12.#For each province, display the total amount patients spent on medication. Order by the most to least spent.

SELECT pr.province_name,
	   ROUND(SUM(me.medication_cost),0) as total_spent
FROM provinces AS pr 
	JOIN patients as p ON pr.province_id = p.province_id
    JOIN unit_dose_orders as un ON p.patient_id = un.patient_id
    JOIN medications as me on un.medication_id = me.medication_id
	
    GROUP BY pr.province_name
    ORDER BY total_spent DESC

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 33)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f456fa1a-3eb6-4631-a26e-0e470af54976' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>